[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
paramiko = "*"
scp = "*"
coloredlogs = "*"
progressbar = "*"
micropython-fcntl = "*"
pexpect = "*"
pyyaml = "*"
xlrd = "*"
elasticsearch = "*"
superelasticsearch = "*"
pyvim = "*"

[requires]
python_version = "3.7"
